# Dev environment
install

# Object and build file
*Makefile*
*makes_dummy*
*.o
*.a

# Generated directories
*/bin
*/libexec
*/meta
*/include

*/conf/*.default
*/conf/makedefs.out

# src
## Static header files in src
*/src/postconf/bool_table.h
*/src/postconf/bool_vars.h
*/src/postconf/int_table.h
*/src/postconf/int_vars.h
*/src/postconf/long_table.h
*/src/postconf/long_vars.h
*/src/postconf/nbool_table.h
*/src/postconf/nbool_vars.h
*/src/postconf/nint_table.h
*/src/postconf/nint_vars.h
*/src/postconf/pcf_ldap_suffixes.h
*/src/postconf/pcf_memcache_suffixes.h
*/src/postconf/pcf_mysql_suffixes.h
*/src/postconf/pcf_pgsql_suffixes.h
*/src/postconf/pcf_sqlite_suffixes.h
*/src/postconf/raw_table.h
*/src/postconf/raw_vars.h
*/src/postconf/str_fn_table.h
*/src/postconf/str_fn_vars.h
*/src/postconf/str_table.h
*/src/postconf/str_vars.h
*/src/postconf/time_table.h
*/src/postconf/time_vars.h

## Static executable files in src
*/src/postdrop/postdrop
*/src/postfix/postfix
*/src/postkick/postkick
*/src/postlock/postlock
*/src/postlog/postlog
*/src/postlogd/postlogd
*/src/postmap/postmap
*/src/postmulti/postmulti
*/src/postqueue/postqueue
*/src/postscreen/postscreen
*/src/postsuper/postsuper
*/src/posttls-finger/posttls-finger
*/src/proxymap/proxymap
*/src/qmgr/qmgr
*/src/qmqpd/qmqpd
*/src/scache/scache
*/src/sendmail/sendmail
*/src/showq/showq
*/src/smtp/smtp
*/src/smtpd/smtpd
*/src/smtpstone/qmqp-sink
*/src/smtpstone/qmqp-source
*/src/smtpstone/smtp-sink
*/src/smtpstone/smtp-source
*/src/spawn/spawn
*/src/tlsmgr/tlsmgr
*/src/tlsproxy/tlsproxy
*/src/trivial-rewrite/trivial-rewrite
*/src/verify/verify
*/src/virtual/virtual
*/src/postconf/postconf
*/src/anvil/anvil
*/src/bounce/bounce
*/src/cleanup/cleanup
*/src/discard/discard
*/src/dnsblog/dnsblog
*/src/error/error
*/src/flush/flush
*/src/fsstone/fsstone
*/src/local/local
*/src/master/master
*/src/oqmgr/qmgr
*/src/pickup/pickup
*/src/pipe/pipe
*/src/postalias/postalias
*/src/postcat/postcat
